body {
  margin:0;
  font-family: serif;
  overflow-x: hidden;
}
.app {
  width: 100vw;
  height: 100vh;
  display:grid;
  grid-template-areas:
  "header header"
  "input preview"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 40px
}
.header {
  grid-area: header;
  background-color: #35383b;
  border-bottom: solid 0.5px #1a1b1e;
}
.input {
  grid-area: input;
}
.input textarea {
  width: 100%;
  height: 100%;
}
.preview {
  grid-area: preview;
  background-color: #ddd;
  padding: 10px;
}
.footer {
  grid-area: footer;
  background-color: #35383b;
  border-top: solid 1px #1a1b1e;
}

.textField {
  font-size: 16pt;
}

.print {
  position: absolute;
  top: 40px;
  left:0;
  width: 297mm;
  grid-template-columns: repeat(5,1fr);
}

.print div {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  height: 105mm;
  padding: 2mm;
}

@media print {
  .print {
    top:0;
  }
}